cloudinary
dj-database-url
dj-static
Django
django-cloudinary-storage
gunicorn
psycopg2-binary
isort
lazy-object-proxy
mccabe
mock
pbr
Pillow
pylint
python-decouple
requests
six
static3
urllib3
wrapt
